@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

a,
li {
  cursor: pointer;
}

.main {
  font-weight: 600;
  transition: 0.3s;
  position: relative;
}

.main::after {
  content: "↓";
  position: absolute;
  font-weight: 700;
  bottom: 100px;
  right: 45%;
  transition: 0.2s all ease-in-out;
}

.main:hover::after {
  bottom: 20px;
}

.arrow {
  position: relative;
  transition: 0.3s;
}

.arrow::after {
  content: "↙";
  position: absolute;
  bottom: 12px;
  transform: translate(20px, -30px);
  transition: 0.2s;
}

.arrow:hover::after {
  transform: translate(0);
  transition: 0.2s all ease-in-out;
}

.orangeText {
  background: linear-gradient(270deg, #f9cb28 10%, #ff4d4d 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 16px #ff4d4d, 0px 8px 24px #ff4d4d 0px 16px 56px #ff4d4d;
}

.orangeBackground {
  background: linear-gradient(270deg, #f9cb28 4.51%, #ff4d4d 95.9%);
  box-shadow: 0px 2px 4px 1px rgba(255, 77, 77, 0.2);
}

.orangeColor {
  background: linear-gradient(180deg, white 1%, #ff4d4d 90%);
}

.blueText {
  background: linear-gradient(90deg, #007cf0 0%, #00dfd8 104.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blueBackground {
  background: linear-gradient(90deg, #007cf0 0%, #00dfd8 104.96%);
  box-shadow: 0px 2px 4px 1px #007cf040;
}

.blueColor {
  background: linear-gradient(180deg, white 1%, #00dfd8 104.96%);
}

.purpleText {
  background: linear-gradient(270deg, #ff0080 4.51%, #7928ca 95.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.purpleBackground {
  background: linear-gradient(270deg, #ff0080 4.51%, #7928ca 95.9%);
  box-shadow: 0px 2px 4px 1px #ff008047;
}

.purpleColor {
  background: linear-gradient(180deg, white 1%, #7928ca 95.9%);
}

.orangeHover {
  transition: 0.3s;
}

.blueHover {
  transition: 0.3s;
}

.purpleHover {
  transition: 0.3s;
}

hr {
  color: #eaeaea;
}

@media (min-width: 1024px) {
  .portfolioItem {
    transition: 0.2s all ease-in-out;
  }

  .portfolioItem:hover {
    border: 1px solid black;
    transition: 0.2s all ease-in-out;
  }

  .portfolioImg {
    transition: 0.2s all ease-in-out;
  }

  .portfolioItem:hover .portfolioImg {
    filter: grayscale(0);
    transition: 0.2s all ease-in-out;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }

  .orangeHover:hover {
    box-shadow: #ff4d4d1c 0px 9px 30px;
    border: 1px solid #ff714d;
    transition: 0.3s;
  }

  .blueHover:hover {
    box-shadow: 0px 9px 30px #0098f01e;
    border: 1px solid #0098f0;
    transition: 0.3s;
  }

  .purpleHover:hover {
    box-shadow: 0px 9px 30px #ff00aa21;
    border: 1px solid #ff00b3;
    transition: 0.3s;
  }
}

.popUpBg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.253);
}

.popUp {
  position: fixed;
  top: 50vh;
  left: 50%;
  width: 100%;
  height: 200px;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 15px;
}

.popUp2 {
  position: fixed;
  top: 50vh;
  left: 50%;
  width: 100%;
  height: 305px;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 15px;
}

.orderingInput {
  transition: 0.6s all ease-in-out;
}

.orderingInput:hover {
  transition: 0.6s all ease-in-out;
  transform: translateY(-10px);
}

.purpleBorder {
  position: relative;
  z-index: 10;
  background: white;
}

.purpleBorder::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background: white;
}

.purpleBorder::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 3px;
  height: 101%;
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(270deg, #ff0080 4.51%, #7928ca 95.9%);
  z-index: -1;
}

.portfolioItem {
  transition: 0.2s all ease-in-out;
}

.portfolioItem:hover {
  border: 1px solid black;
  transition: 0.2s all ease-in-out;
}

.portfolioImg {
  transition: 0.2s all ease-in-out;
}

.portfolioItem:hover .portfolioImg {
  filter: grayscale(0);
  transition: 0.2s all ease-in-out;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.overflowNone {
  overflow: hidden;
}
